html body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.nv {
    background-color: #FF7043;
    height: 75px;
    width: 100%;
    border-bottom: 3px solid black;
}

.all {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left {
    width: 100%;
    height: 100%;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.searchbar {
    width: 400px;
    height: 25px;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 17px;
    padding-left: 20px;
    
}

.profile {
    height: 70px;
    width: 70px;
    margin-right: 30px;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-drag: none;
}

.profile:hover {
    opacity: 0.7;
    cursor: pointer;
}

.anc {
    font-size: 27px;
    color: #F5F5F5;
    transition: all 0.3s ease;
    text-decoration: none;
}

.anc:hover {
    opacity: 0.6;
}

.list {
    font-weight: 600;
    text-decoration: underline;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 78px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    position: absolute;
}

.title {
    font-size: 45px;
    text-decoration: underline;
}

.butn {
    height: 45px;
    width: 185px;
    border-radius: 12px;
    font-size: 19px;
    outline: none;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.butn:hover {
    background-color: black;
    color: white;
    transform: translateY(-6px);
    cursor: pointer;
}

.createCon {
    display: none;
    align-items: center;
    justify-content: center;
    height: calc(100% - 78px);
    width: 100%;
    position: absolute;
}

.createBox {
    height: 600px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 25px;
    box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.8);
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titled {
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

.lbl {
    font-size: 20px;
}

.listTitle {
    height: 30px;
    width: 225px;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    gap: 35px;
}

.btn {
    height: 47.5px;
    width: 150px;
    font-size: 20px;
    background-color: white;
    border-radius: 12px;
    outline: none;
    border: 2px solid black;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: black;
    color: white;
    transform: translateY(-6px);
    cursor: pointer;
}

.btn.clicked {
    background-color: black;
    color: white;
    transform: translateY(-6px);
    cursor: pointer;
}

.createForm {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sub {
    margin-top: 25px;
}

.lbd {
    font-size: 25px;
    margin-right: -25px;
    margin-left: 30px;
    user-select: none;
}

.allCon {
    display: none;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 78px);
    width: 100%;
}

.allBox {
    height: 600px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 25px;
    box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.8);
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.listBox {
    height: 100px;
    width: auto;
    min-width: 150px;
    border: 1px solid black;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.botRight {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.yourCon {
    display: none;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 78px);
    width: 100%;
}

.yourBox {
    height: 600px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 25px;
    box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.8);
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.listBox:hover {
    background-color: black;
    color: white;
    transform: translateY(-6px);
    cursor: pointer;
}

.listCon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.viewList {
    height: 800px;
    width: 500px;
    background-color: #FF7043;
    border-radius: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.viewtitle {
    font-size: 55px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.plus {
    margin-bottom: -25px;
    font-size: 50px;
    color: white;
    user-select: none;
    transition: all 0.3s ease;
}

.plus:hover {
    color: black;
    transform: translateY(-6px);
    cursor: pointer;
}

.createCont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 100%;
    transition: all 0.3s ease;
}

.createCont.show {
    opacity: 1;
    top: 0%;
}

.createBoxed {
    height: 800px;
    width: 500px;
    background-color: black;
    z-index: 2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.createTitle {
    color: white;
    font-size: 50px;
    margin-top: 100px;
    text-decoration: underline;
    margin-bottom: 50px;
}

.listInp {
    height: 30px;
    width: 250px;
    border-radius: 12px;
    outline: none;
    border: none;
    padding-left: 15px;
    font-size: 18px;
    transition: all 0.3s ease;
    margin-top: 150px;
}

.listInp:focus {
    transform: translateY(-6px);
    border: 1px solid #FF7043;
}

.listSub {
    margin-top: 25px;
}

.listSub:hover {
    background-color: #FF7043;
}

.listItem {
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.listRow {
    display: flex;
    flex-direction: row;
}

.trash {
    margin-top: -10px;
    user-select: none;
    transition: all 0.3s ease;
    font-size: 40px;
}

.trash:hover {
    transform: translateY(-6px);
    color: red;
    cursor: pointer;
}