html body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}

.nv {
    background-color: #FF7043;
    height: 75px;
    width: 100%;
    border-bottom: 3px solid black;
}

.all {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left {
    width: 100%;
    height: 100%;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.searchbar {
    width: 400px;
    height: 25px;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 17px;
    padding-left: 20px;
    
}

.profile {
    height: 70px;
    width: 70px;
    margin-right: 30px;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-drag: none;
}

.profile:hover {
    opacity: 0.7;
    cursor: pointer;
}

.anc {
    font-size: 27px;
    color: #F5F5F5;
    transition: all 0.3s ease;
    text-decoration: none;
}

.anc:hover {
    opacity: 0.6;
}

.alert {
    color: red;
    font-size: 50px;
    font-weight: bolder
}

.top {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.pfp {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    user-select: none;
    -webkit-user-drag: none;
    border: 1px solid black;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 155px;
    margin-top: -10px;
    font-size: 16px;

}

.labels {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 97.5%;
    gap: 65px;
    font-size: 14px;
    transform: translateY(-30px);
}

.topRight {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    margin-top: 20px;
    margin-left: -43.5px;
}

.settings {
    height: 42.5px;
    transition: all 0.3s ease;
}

.settings:hover {
    opacity: 0.6;
    cursor: pointer;
}