html body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}

.nv {
    background-color: #FF7043;
    height: 75px;
    width: 100%;
    border-bottom: 3px solid black;
}

.all {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left {
    width: 100%;
    height: 100%;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.searchbar {
    width: 400px;
    height: 25px;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 17px;
    padding-left: 20px;
    
}

.profile {
    height: 70px;
    width: 70px;
    margin-right: 30px;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-drag: none;
}

.profile:hover {
    opacity: 0.7;
    cursor: pointer;
}

.anc {
    font-size: 27px;
    color: #F5F5F5;
    transition: all 0.3s ease;
    text-decoration: none;
}

.anc:hover {
    opacity: 0.6;
}

.alert {
    color: red;
    font-size: 50px;
    font-weight: bolder
}

.top {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.pfp {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    user-select: none;
    -webkit-user-drag: none;
    border: 1px solid black;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 155px;
    margin-top: -10px;
    font-size: 16px;

}

.labels {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 97.5%;
    gap: 65px;
    font-size: 14px;
    transform: translateY(-30px);
}

.topRight {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    margin-top: 20px;
    margin-left: -43.5px;
}

.settings {
    height: 42.5px;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-drag: none;
}

.settings:hover {
    opacity: 0.6;
    cursor: pointer;
}

.sideCon {
    height: calc(100% - 78px);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
}

.sidebar {
    height: 100%;
    width: 300px;
    transform: translateX(-100%);
    opacity: 0;
    right: 0;
    top: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: #FF7043;
    border-right: solid 2px black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.setTitle {
    color: white;
    font-size: 45px;
    user-select: none;
    margin-top: 85px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    flex-direction: column;
}

.set {
    height: 45px;
    width: 60%;
    margin-top: 25px;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    font-size: 20px;
    z-index: 5;
    transition: all 0.3s ease;
}

.set:hover {
    background-color: black;
    color: white;
    transform: translateY(-6px);
    cursor: pointer;
}

.back {
    color: white;
    font-size: 45px;
    user-select: none;
    position: absolute;
    transition: all 0.3s ease;
}

.tleft {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.forward {
    color: black;
    font-size: 50px;
    user-select: none;
    position: absolute;
    margin-left: 50px;
    z-index: 1;
    
}

.back:hover {
    cursor: pointer;
    opacity: 0.6;
}

.forward:hover {
    cursor: pointer;
    opacity: 0.6;
}

.posts {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.allSets {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 78px);
    width: 100%;
}

.sb {
    height: 700px;
    width: 1000px;
    background-color: #FF7043;
    border-radius: 35px;
    border: 2px solid black;
    z-index: 0;
}

.secBox {
    display: none;
}

.accBox {
    display: none;
}

.sbTitle {
    font-size: 60px;
    color: white;
    text-align: center;
}

.usern {
    margin-left: 82.5px;
    font-size: 35px;
    color: white;
    font-weight: 900;
}

.setPfp {
    border-radius: 25px;
    margin-left: 75px;
    border: 1px solid black;
}

.setPfp:hover > .overlay {
    display: block;
    opacity: 0.7;
    cursor: pointer;
}

.centerSet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    flex-direction: column;
}

.rowed {
    display: flex;
    flex-direction: row;
}

.setLb {
    font-size: 20px;
    color: white;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lbl {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 22px;
    margin-left: 72px;
    opacity: 0;
    z-index: 15000px;
    transition: all 0.3s ease;
}

.overlay {
    background-color: black;
    height: 241px;
    width: 240px;
    z-index: 1000px;
    position: absolute;
    margin-top: -241px;
    border-radius: 25px;
    margin-left: 75px;
    opacity: 0.1;
    transition: all 0.3s ease;
}

.overlay:hover {
    opacity: 0.4;
    outline: none;
    border: none;
    cursor: pointer;
}

.centerSet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32vh;
    width: 100%;
}

.setLb {
    margin-right: 88px;
    margin-bottom: 5px;
    color: white;
    font-size: 18px;
}

.userInp {
    height: 27px;
    width: 230px;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    padding-left: 10px;
    font-size: 17px;
}

.passLb {
    margin-left: -65px;
    margin-top: 20px;
}

.change {
    height: 40px;
    width: 175px;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    font-size: 17px;
    margin-top: 30px;
    transition: all 0.3s ease;
}

.change:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transform: translateY(-8px);
}