html body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}

.nv {
    background-color: #FF7043;
    height: 75px;
    width: 100%;
    border-bottom: 3px solid black;
}

.all {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left {
    width: 100%;
    height: 100%;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.searchbar {
    width: 400px;
    height: 25px;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 17px;
    padding-left: 20px;
    
}

.profile {
    height: 70px;
    width: 70px;
    margin-right: 30px;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-drag: none;
}

.profile:hover {
    opacity: 0.7;
    cursor: pointer;
}

.anc {
    font-size: 27px;
    color: #F5F5F5;
    transition: all 0.3s ease;
    text-decoration: none;
}

.anc:hover {
    opacity: 0.6;
}

.feed {
    font-weight: 600;
    text-decoration: underline;
}

.con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.box {
    background-color: rgba(255, 112, 67, 1);
    height: 700px;
    width: 1100px;
    border-radius: 25px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
}

.leftbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin-left: 125px;
}

.centerbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.rightbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin-right: 125px;
}

.line {
    height: 100%;
    width: 5px;
    border-radius: 5px;
    background-color: white;
    opacity: 0.5;
}

.logtitle {
    font-size: 50px;
    color: white;

}

.signtitle {
    font-size: 50px;
    color: white;

}

.inp {
    height: 32.5px;
    width: 275px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 15px;
    font-size: 20px;
}

.inpCon {
    margin-top: 50px;
    gap: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.lb {
    font-size: 20px;
    color: white;
    margin-right: 190px;
}

.signconpass {
    width: 100%;
    text-align: right;
    margin-left: -60px;
}

.submit {
    height: 45px;
    width: 225px;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: #F5F5F5;
    font-size: 22px;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.submit:hover {
    transform: translateY(-8px);
    cursor: pointer;
    background-color: black;
    color: white;
}

.alert {
    color: red;
    font-size: 50px;
    font-weight: bolder
}

.feedCon {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin-top: 35px;
}

.new {
    height: 40px;
    width: 150px;
    border-radius: 12px;
    font-size: 20px;
    outline: none;
    border: 1px solid black;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.new:hover {
    background-color: black;
    color: white;
    transform: translateY(-6px);
    cursor: pointer;
}

.createCon {
    display: flex;
    width: 100%;
    position: absolute;
}

.create {
    position: fixed;
    height: 700px;
    width: 1000px;
    background-color: #FF7043;
    border-radius: 25px;
    transition: all 0.3s ease;
    transform: translateY(1000px);
    z-index: 6;
    margin-top: 150px;
    margin-left: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.create.show {
    opacity: 1;
    transform: translateY(0px);
}

.createOverlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    opacity: 0;
    z-index: 5;
    transition: all 0.3s ease;
    pointer-events: none;
}

.createOverlay.showOver {
    opacity: 1;
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.postTitle {
    width: 100%;
    height: 75px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid black;
    z-index: 19;
    text-align: center;
    font-size: 25px;
    color: black;
}

.postDesc {
    z-index: 19;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 25px;
    transition: all 0.3s ease;
    color: black;
}

.imageCon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addImage {
    height: 45px;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: absolute;
    z-index: 19;
    margin-bottom: 225px;
    transition: all 0.3s ease;
    user-select: none;
}

.addImage:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.postBox {
    height: auto;
    min-width: 650px;
    max-width: 1000px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 75px;
}

.pTitle {
    border-bottom: 1px solid black;
    margin-right: 150px;
}

.pDesc {
    word-break: break-word;
}

.topdir {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.authorpfp {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: all 0.3s ease;
    border: 1px solid black;
}

.authorpfp:hover {
    opacity: 0.6;
    cursor: pointer;
}

.authorname {
    margin-right: 75px;
    font-size: 20px;
    margin-left: 15px;
}

.submitCon {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: -30px;
    margin-right: 100px;
}

.send {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 50px;
    z-index: 51314;
    opacity: 0;
    transition: all 0.3s ease;
}

.send:hover {
    opacity: 0.6;
    cursor: pointer;
}

.postImg {
    height: 200px;
    width: 200px;
    transition: all 0.3s ease;
}

.postImg:hover {
    opacity: 0.7;
}

.overlay {
    height: 50px;
    width: 50px;
    background-color: transparent;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    user-select: none;
    pointer-events: none;
}

.plus {
    pointer-events: all;
    user-select: all;
    font-size: 27.5px;
    color: red;
    margin-bottom: -15px;
}
