html body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}

.nv {
    background-color: #FF7043;
    height: 75px;
    width: 100%;
    border-bottom: 3px solid black;
}

.all {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left {
    width: 100%;
    height: 100%;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.searchbar {
    width: 400px;
    height: 25px;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 17px;
    padding-left: 20px;
    
}

.profile {
    height: 70px;
    width: 70px;
    margin-right: 30px;
    transition: all 0.3s ease;
}

.profile:hover {
    opacity: 0.7;
    cursor: pointer;
}

.anc {
    font-size: 27px;
    color: #F5F5F5;
    transition: all 0.3s ease;
    text-decoration: none;
}

.anc:hover {
    opacity: 0.6;
}

.feed {
    text-decoration: underline;
}

.con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.box {
    background-color: rgba(255, 112, 67, 1);
    height: 700px;
    width: 1100px;
    border-radius: 25px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
}

.leftbox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.centerbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.rightbox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.line {
    height: 100%;
    width: 5px;
    border-radius: 5px;
    background-color: white;
}

.logtitle {
    font-size: 50px;
    color: white;
    margin-left: 150px;
}

.signtitle {
    font-size: 50px;
    color: white;
    margin-right: 150px;
}