<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="../static/burg.png">
</head>
<body>
    
    <nav class="nv">
        <div class="all">


            <div class="left">
            </div>


            <div class="center">
                <a href="#" class="anc feed">Feed</a>
                <a href="#" class="anc">Categories</a>
                <a href="#" class="anc">List</a>
            </div>


            <div class="right">
                <img src="../static/icon.png" class="profile">
            </div>


        </div>
    </nav>


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% if current_user.is_authenticated %}

    <script>
        const profile2 = document.querySelector(".profile");

        profile2.addEventListener('click', ()=> {
            console.log("settings")
            // window.location.href = "{# url_for('account.html') #}"
        })
    </script>
    
    {% else %}

    <script>
        const profile = document.querySelector(".profile");

        profile.addEventListener('click', ()=> {
            window.location.href = "{{ url_for('login') }}"
        })
    </script>

    {% endif %}
</body>
</html>