<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kilogram - Feed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="../static/burg.png">
</head>
<body>
    
    <nav class="nv">
        <div class="all">


            <div class="left">
            </div>


            <div class="center">
                <a href="#" class="anc feed">Feed</a>
                <a href="#" class="anc">Categories</a>
                <a href="#" class="anc">List</a>
            </div>


            <div class="right">
                <img src="../static/icon.png" class="profile">
            </div>


        </div>
    </nav>

    <div class="feedCon">
        <button class="new">Create Post</button>
        {% for user in users %}
            {% for post in user.posts %}
                <div class="postBox">
                    <div class="topdir">
                        <img src="{{ user.pfp }}" alt="Author Pfp" class="authorpfp" data-profile-url="{{ url_for('profile', user_id=user.id) }}">
                        <h1 class="pTitle">{{ post.title }}</h1>
                    </div>
                    <p class="pDesc">{{ post.content }}</p>
                    {% if post.image %}
                        <img src="{{ post.filename }}" alt="Post Image" class="postImg">
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="createCon">
        <div class="createOverlay">
            <form class="create" action="{{ url_for('home') }}" method="post" >
                <input type="text" name="postTitle" class="postTitle" placeholder="Title" maxlength="20" required>
                <textarea type="text" class="postDesc" name="postDesc" maxlength="1000" placeholder="What's on your mind, {{ current_user.username }}?" required></textarea>
                <div class="imageCon">
                    <input type="file" accept="image/*" name="img" class="imghid" hidden>
                    <div class="addImage">Add Image</div>
                </div>
                <div class="submitCon">
                    <input type="submit" value="➤" class="send">
                </div>
                
            </form>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <script>
        const n = document.querySelector('.new');
        const create = document.querySelector('.create');
        const createCon = document.querySelector('.createCon');
        const overlay = document.querySelector('.createOverlay');
        const title = document.querySelector('.postTitle');
        const desc = document.querySelector('.postDesc');
        const feedCon = document.querySelector('.feedCon');
        const img = document.querySelector('.imghid');
        const imgdiv = document.querySelector('.addImage');
        const authorpfp = document.querySelectorAll('.authorpfp');
        const send = document.querySelector('.send');
        var on = false

        desc.addEventListener('input', ()=> {
            send.style.opacity = 1;
        });

        authorpfp.forEach(img => {
            img.addEventListener('click', () => {
                window.location.href = img.dataset.profileUrl;
            });

        });

        imgdiv.addEventListener('click', ()=> {
            img.click();
        })
        
        overlay.classList.remove('showOver');
        create.classList.remove('show');

        document.addEventListener('click', (e)=> {
            if (create.classList.contains('show') && !n.contains(e.target) && !title.contains(e.target) && !desc.contains(e.target)) {
                overlay.classList.remove('showOver');
                create.classList.remove('show');
                on = false;
            }
        })

        create.addEventListener('click', (e)=> {
            e.stopPropagation();
        })

    </script>

    {% if current_user.is_authenticated %}

    <script>
        const profile2 = document.querySelector(".profile");
        const ne = document.querySelector('.new');

        ne.addEventListener('click', ()=> {
            if (on == false) {
                overlay.classList.add('showOver');
                create.classList.add('show');
                on = true;
            }
            
            else if (on == true){
                overlay.classList.remove('showOver');
                create.classList.remove('show');
                console.log('removed')
                on = false;
            };
        });

        profile2.addEventListener('click', ()=> {
            console.log("settings")
            window.location.href = "{{ url_for('profile', user_id=current_user.id) }}"
        })
    </script>
    
    {% else %}

    <script>
        const profile = document.querySelector(".profile");
        const nee = document.querySelector('.new');

        nee.addEventListener('click', ()=> { 
            window.location.href = '{{ url_for("login") }}'
        })

        profile.addEventListener('click', ()=> {
            window.location.href = "{{ url_for('login') }}"
        })
    </script>

    {% endif %}
</body>
</html>