<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kilogram - Shopping List</title>
    <link rel="icon" href="../static/burg.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='list.css')}}">
</head>
<body>

    <nav class="nv">
        <div class="all">


            <div class="left">
            </div>


            <div class="center">
                <a href="{{ url_for('home') }}" class="anc feed">Feed</a>
                <a href="#" class="anc">Categories</a>
                <a href="{{ url_for('list') }}" class="anc list">List</a>
            </div>


            <div class="right">
                <img src="../static/icon.png" class="profile">
            </div>


        </div>
    </nav>


    <div class="container">
            <button class="create butn">Create List</button>
            <button class="your butn">Your Lists</button>
            <button class="allLists butn">All Lists</button>
    </div>

    <div class="createCon">
        <div class="createBox">
            <h1 class="titled">Create List</h1>
            <label class="lbl">List Title</label>
            <form action="{{ url_for('create') }}" method="post" class="createForm">
                <input class="listTitle" type="text" name="title" maxlength="20" placeholder="Title" required>
                <div class="btns">
                    <label class="lbd" for="pub">Public</label>
                    <input type="checkbox" id="pub" class="public" name="public" value="yes">
                    <label class="lbd" for="priv">Private</label>
                    <input type="checkbox" id="priv" class="private" name="private" value="yes">
                </div>
                <input type="submit" class="btn" style="margin-top: 30px;">
            </form>
        </div>
    </div>  

    <script>
        
        const profile = document.querySelector('.profile');
        const create = document.querySelector('.create');
        const createCon = document.querySelector('.createCon');
        const createBox = document.querySelector('.createBox');
        const public = document.querySelector('.public');
        const private = document.querySelector('.private');

        create.addEventListener('click', ()=> {
            createCon.style.display = 'flex';
        })

        document.addEventListener('click', (e)=> {
            if (createCon.style.display == 'flex' && !createBox.contains(e.target) && !create.contains(e.target)) {
                createCon.style.display = 'none';
            }
        })

        public.addEventListener('change', ()=> {
            public.checked = true;
            private.checked = false;
        })

        private.addEventListener('change', ()=> {
            private.checked = true;
            public.checked = false;
        })

        profile.addEventListener('click', ()=> {
            window.location.href = '{{ url_for("profile", user_id=current_user.id) }}'
        })

    </script>
</body>
</html>